<h2>Busquedas</h2>
        <hr>
        <ul>
            <li 
                class="list-group-item" 
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Buscar páis
            </li>
            <li 
                class="list-group-item"
                routerLink="region"
                routerLinkActive="active"
            >
                Por region
            </li>
            <li routerLink="capital"
                class="list-group-item"
                routerLinkActive="active"
            >
                Por capital</li>
        </ul>
